
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
/*******************************************************************************
                              Grid Setup
*******************************************************************************/

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}


.row {
  width: 100%;
}
/*
we will need to give the margin left right 1% to give us
a 2% gutter
*/
.row .column {
  float: left;
  margin: 10px 1%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}


/*
our percentages also need to be updated to account for the 1% margin
*/

.small-1 { width: 6.333333333333334%; }
.small-2 { width: 14.666666666666668%; }
.small-3 { width: 23%; }
.small-4 { width: 31.333333333333336%; }
.small-5 { width: 39.66666666666667%; }
.small-6 { width: 48.00000000000001%; }
.small-7 { width: 56.333333333333336%; }
.small-8 { width: 64.66666666666667%; }
.small-9 { width: 73%; }
.small-10 { width: 81.33333333333333%; }
.small-11 { width: 89.66666666666667%; }
.small-12 { width: 98%; }


@media only screen and (min-width: 720px) {
    .medium-1 { width: 6.333333333333334%; }
    .medium-2 { width: 14.666666666666668%; }
    .medium-3 { width: 23%; }
    .medium-4 { width: 31.333333333333336%; }
    .medium-5 { width: 39.66666666666667%; }
    .medium-6 { width: 48.00000000000001%; }
    .medium-7 { width: 56.333333333333336%; }
    .medium-8 { width: 64.66666666666667%; }
    .medium-9 { width: 73%; }
    .medium-10 { width: 81.33333333333333%; }
    .medium-11 { width: 89.66666666666667%; }
    .medium-12 { width: 98%; }
}

@media only screen and (min-width: 1040px) {
    .large-1 { width: 6.333333333333334%; }
    .large-2 { width: 14.666666666666668%; }
    .large-3 { width: 23%; }
    .large-4 { width: 31.333333333333336%; }
    .large-5 { width: 39.66666666666667%; }
    .large-6 { width: 48.00000000000001%; }
    .large-7 { width: 56.333333333333336%; }
    .large-8 { width: 64.66666666666667%; }
    .large-9 { width: 73%; }
    .large-10 { width: 81.33333333333333%; }
    .large-11 { width: 89.66666666666667%; }
    .large-12 { width: 98%; }
}



/* * * * * * * * * * * * * * * * * * *
Visibility Classes
* * * * * * * * * * * * * * * * * * */

.visible-for-small-only {
    display: block;
}

.visible-for-medium-and-up {
    display: none;
}

.visible-for-large-and-up {
    display: none;
}

.visible-for-medium-only {
    display: none;
}

@media only screen and (min-width: 720px) {

    .visible-for-medium-and-up {
        display: block;
    }
}

@media only screen and (min-width: 1089px) {
    .visible-for-large-and-up {
        display: block;
    }
}

@media (max-width: 719px) {
    .visible-for-small-only {
        display: block;
    }
}

@media (min-width: 720px) and (max-width: 1088px) {
    .visible-for-medium-only {
        display: inline-block;
        text-align: right;
        vertical-align: middle;
        margin-top: 8px;
    }
}

* {
  font-family: 'Roboto','Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
  box-sizing: border-box;
}

/*******************************************************************************
                                Hero
*******************************************************************************/
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto','Lato', Helvetica, sans-serif;
}

.hero-img {
    background: url("/img/code-background.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.hero-img img {
    width: 100%;
}

nav {
    width: 100%;
    text-align: center;
}

nav ul {
    display: inline-block;
    text-align: center;
}

nav li {
    display: inline;
}

.headings {
    background-color: rgba(255,255,255,0.3);
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    color: white;
    font-weight: bold;
}

.headings h1 {
    font-size: 3.6em;
}

.mobile-heading{
    display: inline;
    text-align: center;
}

#home-link:hover {
    text-decoration: none;
}

.close {
    display: none;
}

.open {
    display: block;
}

.desktop-heading {
    width: 100%;
}

.desktop-nav, .mobile-nav {
    background-color: $primary-dark;
    width: 100%;
    margin: 0px;
}

.desktop-nav {
    padding-top: 17px;
}

.desktop-nav a, .mobile-nav a{
    color: $third;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 15px;
}

// .desktop-nav li:hover {
//     background: $primary-mid;
// }

.mobile-nav ul li {
    display: block;
}

.desktop-nav ul {
    float: left;
    margin: 0px;
    height: 45px;
    vertical-align: middle;
}

.desktop-nav ul a:hover {
    background: $primary-mid;
}

.mobile-nav ul li:hover {
    background: $primary-mid;
}

#open-mobile-menu-button {
    display: inline;
    text-align: center;
    margin: 10px;
}

.content-area {
    width: 80%;
    margin: auto;
}

.footer-class {
    background: $secondary-light;
    width: 100%;
    margin: 15px 0 0 0;
}

.footer-block a {
    color: $primary-dark;
    display: inline;
    font-weight: bold;
}
.footer-block {
    text-align: center;
}

em {
    font-style: italic;
}

.project {
    height: 350px;
    width: 100%;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.sicamous {
    background: url("/img/MySicamousAdjusted.jpg");
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid $primary-dark;
}

.portfolio {
    background: url("/img/Assignment4Adjusted.jpg");
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid $primary-dark;
}

.hitbeats {
    background: url("/img/hitbeats-screenshot.jpg");
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid $primary-dark;
}

.rock-paper-scissors {
    background: url("/img/rockpaperscissors.jpg");
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid $primary-dark;
}

.laravel {
  background: url("/img/LaravelProjectResized.jpg");
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid #1f363d;
}

.acupuncture {
  background: url("/img/sicamousacupuncture.png");
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid #1f363d;
}

.project .slider {
    padding: 0 50px 0 50px;
    width: 100%;
    height: 400px;
    background: rgba(255, 255, 255, 0.8);
    transition: .2s;
    transform: translateY(300px);
    text-align: left;
}

.project:hover .slider {
    transform: translateY(0px);
    border-radius: 0;
    text-decoration: none;
}

.slider h4 {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}

.slider p {
    font-weight: bold;
}

.project a {
    text-decoration: none;
}

.slider ul {
    list-style: initial;
}

.logged-in-container {
    width: 100%;
}

.logged-in .left div{
    display: inline;
    text-align: left;
}

.logged-in .right {
    display: inline;
    // width: 150px;
    text-align: right;
}

.logged-in a {
    padding: 10px;
}

.home-list li {
    list-style-type: circle;
    font-size: 1.2em;
    margin-left: 10px;
}
