
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
/*******************************************************************************
                              Grid Setup
*******************************************************************************/

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}


.row {
  width: 100%;
}
/*
we will need to give the margin left right 1% to give us
a 2% gutter
*/
.row .column {
  float: left;
  margin: 10px 1%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}


/*
our percentages also need to be updated to account for the 1% margin
*/

.small-1 { width: 6.333333333333334%; }
.small-2 { width: 14.666666666666668%; }
.small-3 { width: 23%; }
.small-4 { width: 31.333333333333336%; }
.small-5 { width: 39.66666666666667%; }
.small-6 { width: 48.00000000000001%; }
.small-7 { width: 56.333333333333336%; }
.small-8 { width: 64.66666666666667%; }
.small-9 { width: 73%; }
.small-10 { width: 81.33333333333333%; }
.small-11 { width: 89.66666666666667%; }
.small-12 { width: 98%; }


@media only screen and (min-width: 720px) {
    .medium-1 { width: 6.333333333333334%; }
    .medium-2 { width: 14.666666666666668%; }
    .medium-3 { width: 23%; }
    .medium-4 { width: 31.333333333333336%; }
    .medium-5 { width: 39.66666666666667%; }
    .medium-6 { width: 48.00000000000001%; }
    .medium-7 { width: 56.333333333333336%; }
    .medium-8 { width: 64.66666666666667%; }
    .medium-9 { width: 73%; }
    .medium-10 { width: 81.33333333333333%; }
    .medium-11 { width: 89.66666666666667%; }
    .medium-12 { width: 98%; }
}

@media only screen and (min-width: 1040px) {
    .large-1 { width: 6.333333333333334%; }
    .large-2 { width: 14.666666666666668%; }
    .large-3 { width: 23%; }
    .large-4 { width: 31.333333333333336%; }
    .large-5 { width: 39.66666666666667%; }
    .large-6 { width: 48.00000000000001%; }
    .large-7 { width: 56.333333333333336%; }
    .large-8 { width: 64.66666666666667%; }
    .large-9 { width: 73%; }
    .large-10 { width: 81.33333333333333%; }
    .large-11 { width: 89.66666666666667%; }
    .large-12 { width: 98%; }
}



/* * * * * * * * * * * * * * * * * * *
Visibility Classes
* * * * * * * * * * * * * * * * * * */

.visible-for-small-only {
    display: block;
}

.visible-for-medium-and-up {
    display: none;
}

.visible-for-large-and-up {
    display: none;
}

.visible-for-medium-only {
    display: none;
}

@media only screen and (min-width: 720px) {

    .visible-for-medium-and-up {
        display: block;
    }
}

@media only screen and (min-width: 1089px) {
    .visible-for-large-and-up {
        display: block;
    }
}

@media (max-width: 719px) {
    .visible-for-small-only {
        display: block;
    }
}

@media (min-width: 720px) and (max-width: 1088px) {
    .visible-for-medium-only {
        display: inline-block;
        text-align: right;
        vertical-align: middle;
        margin-top: 8px;
    }
}

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
  box-sizing: border-box;
}

/*******************************************************************************
                                Hero
*******************************************************************************/
.hero-img {
    background: url("/img/code-background.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.hero-img img {
    width: 100%;
}

nav {
    width: 100%;
    text-align: center;
}

nav ul {
    display: inline-block;
    text-align: center;
}

nav li {
    display: inline;
    padding: 10px;
    text-align: center;
}

.headings {
    background-color: rgba(255,255,255,0.3);
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    color: white;
    font-weight: bold;
}

.headings h1 {
    font-size: 3.6em;
}

.mobile-heading{
    display: inline;
    text-align: center;
}

.close {
    display: none;
}

.open {
    display: block;
}

.desktop-heading {
    width: 100%;
}

.desktop-nav, .mobile-nav {
    background-color: #1f363d;
    width: 100%;
    margin: 0px;
}

.desktop-nav a, .mobile-nav a{
    color: #cfe0c3;
    font-size: 1.3em;
    font-weight: bolder;
}

.desktop-nav li:hover {
    background: #40798c;
}

.mobile-nav ul li {
    display: block;
}

#open-mobile-menu-button {
    display: inline;
    text-align: center;
    margin: 10px;
}
